<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hello <%= firstname + " " + lastname %></p>
    <!-- <a href="mio">ho</a> -->

    <ul>
        <li><%=skills[0]%></li>
        <li><%=skills[1] %> </li>
        <li><%=skills[2] %></li>
    </ul>
    
    <ul>
        <%   for(let i = 0 ; i< skills.length; i++)    {     %>
            <li><%= i+1 + " " + skills[i] %></li>


        <%   }    %>
    </ul>


    
</body>
</html>